{% extends "public_template.html" %}

{% block title %}Dashboard{% endblock %}

{% block category %}dashboard{% endblock %}

{% block content %}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
                        <h5 class="mb-0">Main page - Museum</h5>
                        <p>Welcome on the main page!</p>
                    </div>
                </div>
            </div>


            <div class="card-body">
                Use the menu to view information about collections, artists, events, galleries and cooperating institutions.
            </div>
        </div>
    </div>

{% endblock %}