{% extends "public_template.html" %}

{% block title %}Exhibit's events{% endblock %}

{% block category %}events{% endblock %}

{% block content %}

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
        <form action="{{ url_for("table", entity="events") }}" method="get">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
                        <h5 class="mb-0">Exhibit's events</h5>
                        <p>List of events. {% if role != 'staff' %}<br> The guests can only see current events.{% endif %}</p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 text-right">
                        {% if role == 'staff' %}<a href="{{ url_for("view", entity="events", id_ent="new") }}" class="btn btn-success">Add an event</a>{% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-12 col-lg-3 mb-3 mb-sm-3">
                        <label for="since" class="col-form-label">Since</label>
                        <input id="since" name="since" type="date" class="form-control" value="{{ since }}">
                        <br>
                        <label for="to" class="col-form-label">To</label>
                        <input id="to" name="to" type="date" class="form-control" value="{{ to }}">
                        <br>
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                    <div class="col-sm-12 col-lg-3 mb-3 mb-sm-3">
                        <label for="a" class="col-form-label">Artists</label>
                        <select multiple name="a" class="form-control form-control-lg" id="a"
                            style="height: 85%">
                            {% for ar in art %}
                                <option {% if ar.0 in artists %}selected{% endif %} value="{{ ar.0 }}">{{ ar.1 }} {{ ar.2 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12 col-lg-3 mb-3 mb-sm-3">
                        <label for="g" class="col-form-label">Galleries</label>
                         <select multiple name="g" id="gallery" class="form-control"
                                style="height: 85%">
                             {% for r in gal %}
                            <option {% if r.0 in gallery %}selected{% endif %} value="{{ r.0 }}">{{ r.1 }}</option>
                             {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12 col-lg-3 mb-3 mb-sm-3">
                        <label for="r" class="col-form-label">Rented</label>
                         <select multiple name="r" id="rented" class="form-control"
                                style="height: 85%">
                             {% for r in otin %}
                            <option {% if r.0 in rent %}selected{% endif %} value="{{ r.0 }}">{{ r.1 }}</option>
                             {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- data table  -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered second" style="width:100%">
                        <thead>
                            <tr>
                                <th>Since</th>
                                <th>To</th>
                                <th>Exhibit</th>
                                <th>Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in records %}
                                <tr onclick="window.location='{{ url_for("view", entity="events", id_ent=d.0) }}'">
                                    <td><a href="{{ url_for("view", entity="events", id_ent=d.0) }}">{{ d.2 }}</a></td>
                                    <td><a href="{{ url_for("view", entity="events", id_ent=d.0) }}">{{ d.3 }}</a></td>
                                    <td><a href="{{ url_for("view", entity="events", id_ent=d.0) }}">{{ d.7 }}</a></td>
                                    <td><a href="{{ url_for("view", entity="events", id_ent=d.0) }}">
                                        {% if d.4 != None %}Exhibited in gallery{% endif %}
                                        {% if d.5 != None %}Rented{% endif %}
                                    </a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Since</th>
                                <th>To</th>
                                <th>Exhibit</th>
                                <th>Info</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end data table  -->
    <!-- ============================================================== -->

{% endblock %}