{% extends "public_template.html" %}

{% block title %}{% if id_ent == 'new' %}New exhibit{% endif %}{% if id_ent != 'new' %}{{ data[1] }}{% endif %} - Exhibits{% endblock %}

{% block category %}exhibits{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="section-block" id="basicform">
            <h3 class="section-title">{% if id_ent == 'new' %}New exhibit{% endif %}{% if id_ent != 'new' %}{{ data[1] }} (ID: {{ data[0] }}){% endif %} - Exhibits</h3>
        </div>
        <div class="card">
            <h5 class="card-header">Exhibit</h5>
            <div class="card-body">
                <form {% if role == 'staff' %}action="{{ url_for("views.entity_exhibits", id_ent=data.0) }}" method="post" onsubmit="return check_form()" {% endif %}>

                <div class="form-group">
                    <label for="title" class="col-form-label">Title*</label>
                    <input name="title" id="title" {% if role != 'staff' %}readonly{% endif %} value="{{ data[1] }}" type="text" class="form-control form-control-lg">
                    <div hidden="hidden" id="inv_title" class="invalid-feedback">Please provide valid text.</div>
                </div>
                    <div class="form-group">
                        <label for="input-select">Artist</label>
                        <div class="input-group mb-3">
                            <select name="artist" class="form-control form-control-lg" {% if role != 'staff' %}disabled{% endif %} id="artist" style="height: 100%">
                            <option value="0" {% if None == data.0 %}selected{% endif %}>Unknown artist</option>
                            {% for a in artists %}
                            <option value="{{ a.0 }}" {% if data.2 == a.0 %}selected{% endif %}>{{ a.1 }} {{ a.2 }} (ID: {{ a.0 }})</option>
                            {% endfor %}
                            </select>
                            <div class="input-group-append" height="100%">
                                <button type="button" class="btn" onclick="window.location=('{{ url_for("views.entity_artists", id_ent="") }}' + document.getElementById('artist').value)">See artist</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-6 mb-5 mb-sm-0">
                            <label for="type" class="col-form-label">Type</label>
                            <input name="type" id="type" {% if role != 'staff' %}readonly{% endif %} value="{{ data[3] }}" type="text" class="form-control form-control-lg">
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-5 mb-sm-0">
                            <div class="col-form-label" width="100%">Rentable</div>
                            <div class="switch-button">
                                <input name="rentable" value="rentable" type="checkbox" {% if role != 'staff' %}disabled{% endif %} {% if data.4 == True %}checked{% endif %} id="rentable">
                                <span><label for="rentable"></label></span>
                            </div>
                        </div>
                    </div>
                    {% if role == 'staff' %}
                        <div class="form-group">
                            <label for="picture_url" class="col-form-label">Picture URL</label>
                            <input name="picture_url" id="picture_url" value="{{ data[5] }}" type="text" class="form-control form-control-lg">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Save</button>
                            {% if data.0 != 'new' %}
                                <a class="btn btn-danger" href="{{ url_for("views.entity_exhibits", id_ent=data.0) }}?del=0">Delete</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
        {% if data.0 != 'new' %}
        <div class="card">
            <h5 class="card-header">Current location</h5>
            <div class="card-body">
                {% if storage == True %}
                    <h3>Status: Exhibit in storage</h3>
                {% endif %}
                {% if storage == False and loc[0][4] != None %}
                    <h3>Status: Exhibit in gallery
                        <a class="btn" href="{{ url_for("views.entity_events", id_ent=loc[0][0]) }}">See more</a></h3>
                {% endif %}
                {% if storage == False and loc[0][5] != None %}
                    <h3>Status: Exhibit rented
                        <a class="btn" href="{{ url_for("views.entity_events", id_ent=loc[0][0]) }}">See more</a></h3>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Picture</h5>
            <div class="card-body">
                <a href="{{ data.5 }}"><img src="{{ data.5 }}" alt="{{ data.1 }}" width="100%"></a>
            </div>
        </div>
    </div>

</div>
    <script type="application/javascript">
                    function check_form() {
                        var result = true;
                        if (document.getElementById('title').value == "") {
                            document.getElementById('title').classList.add("is-invalid");
                            document.getElementById('inv_title').hidden = false;
                            result = false;
                        } else {
                            document.getElementById('title').classList.remove("is-invalid");
                            document.getElementById('inv_title').hidden = true;
                        }
                        return result
                    }
                </script>
{% endblock %}