{% extends "public_template.html" %}

{% block title %}{% if id_ent == 'new' %}New gallery{% endif %}{% if id_ent != 'new' %}{{ data[1] }}{% endif %} - Galleries{% endblock %}

{% block category %}galleries{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="section-block" id="basicform">
            <h3 class="section-title">{% if id_ent == 'new' %}New gallery{% endif %}{% if id_ent != 'new' %}{{ data[1] }}{% endif %} - Galleries</h3>
        </div>
        <div class="card">
            <h5 class="card-header">Gallery</h5>
            <div class="card-body">
                <form {% if role == 'staff' %}action="{{ url_for("view", entity="galleries", id_ent=data.0) }}" method="post" onsubmit="return check_form()" {% endif %}>

                <div class="form-group">
                    <label for="name" class="col-form-label">Name*</label>
                    <input name='name' id="name" {% if role != 'staff' %}disabled{% endif %} value="{{ data[1] }}" type="text" class="form-control form-control-lg">
                    <div hidden="hidden" id="inv_name" class="invalid-feedback">Please provide valid text.</div>
                </div>
                <div class="form-group">
                    <label for="street" class="col-form-label">Street</label>
                    <input name="street" id="street" {% if role != 'staff' %}disabled{% endif %} value="{{ data[2] }}" type="text" class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label for="city" class="col-form-label">City</label>
                    <input name="city" id="city" {% if role != 'staff' %}disabled{% endif %} value="{{ data[3] }}" type="text" class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label for="zip_code" class="col-form-label">Zip code</label>
                    <input name="zip_code" id="zip_code" {% if role != 'staff' %}disabled{% endif %} value="{{ data[4] }}" type="text" class="form-control form-control-lg">
                </div>
                    {% if role == 'staff' %}
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Save</button>
                            {% if data.0 != 'new' %}
                                <a class="btn btn-danger" href="{{ url_for("view", entity="galleries", id_ent=data.0) }}?del=0">Delete</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>


    </div>

<script type="application/javascript">
    function check_form() {
        var result = true;
        if (document.getElementById('name').value == "") {
            document.getElementById('name').classList.add("is-invalid");
            document.getElementById('inv_name').hidden = false;
            result = false;
        } else {
            document.getElementById('name').classList.remove("is-invalid");
            document.getElementById('inv_name').hidden = true;
        }
        return result
    }
</script>

    {% if data.0 != 'new' %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
                        <h5 class="mb-0">Rooms</h5>
                        <p>List of rooms in {{ data.1 }}</p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 text-right">
                        {% if role == 'staff' %}
                            <a href="{{ url_for("view", entity="rooms", id_ent="new") }}?gal={{ data.0 }}" class="btn btn-success">Add a room</a>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered second" style="width:100%">
                        <thead>
                            <tr>
                                <th>Room's name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in rooms %}
                                <tr onclick="window.location='{{ url_for("view", entity="rooms", id_ent=r.0) }}'">
                                    <td><a href="{{ url_for("view", entity="rooms", id_ent=r.0) }}">{{ r.2 }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Room's name</th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>

        </div>
    </div>
    {% endif %}

</div>
{% endblock %}