{% extends "public_template.html" %}

{% block title %}{{ data[1] }} - Institutions{% endblock %}

{% block category %}institutions{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="section-block" id="basicform">
            <h3 class="section-title">{{ data[1] }} - Institutions</h3>
            <p>Use custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>
        </div>
        <div class="card">
            <h5 class="card-header">Institution</h5>
            <div class="card-body">
                <form>

                <div class="form-group">
                    <label for="name" class="col-form-label">Name</label>
                    <input id="name" value="{{ data[1] }}" {% if role != 'staff' %}disabled{% endif %} type="text" class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label for="name" class="col-form-label">Street</label>
                    <input id="name" value="{{ data[2] }}" {% if role != 'staff' %}disabled{% endif %} type="text" class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label for="name" class="col-form-label">City</label>
                    <input id="name" value="{{ data[3] }}" {% if role != 'staff' %}disabled{% endif %} type="text" class="form-control form-control-lg">
                </div>

                </form>
            </div>
        </div>


    </div>
</div>
{% endblock %}